@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.topMargin{
    margin-top: 150px;
    text-align: center;
}

/* Navbar */
.alpha{
    background-color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}
  
.navbarLink{
    display: inline-block; 
    padding: 25px;
  }
  .navbarLink a {
    text-decoration: none!important;
    color:white;
    position: relative;
  }
  /* drawing underline */
  .navbarLink a::before {
    text-decoration: none!important;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -12px;
    left: 0;
    background-color: rgb(255, 115, 0);
    transform: scaleX(0);
    transition: 0.4s;
  }
  .navbarLink a:hover:before{
    text-decoration: none;
    transform: scaleX(1);
  }
  .navbarLink a.active{
    text-decoration: none!important;
    color: rgb(255, 115, 0);
  }
/* not decolation */
  .navbarLink a:hover {
    text-decoration: none!important;
    color: rgb(255, 115, 0);
  }